.homeDiv {
  display: flex;
  
  gap: 16px;
  margin-top: 10px;
}
.objectTransformsDiv {
  width: 520px;
  height: fit-content;
  background-color: #1e272e;
}
.objectDiv {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.object {
  height: 100px;
  width: 200px;
  background-color: #1e272e;
}
.setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  gap: 2px;
  padding: 2px;
}
label{
  color:#d2dae2;
  
  z-index: 99;
  width: 30px;
}
.settingLabel{
  font-size: 12px;
  width: 60px;
  color:#d2dae2;
  z-index: 99;
}
.rangeValue {
  outline: none;
  width: 50px;
  z-index: 99;
}
input[type="range"] {
  z-index: 99;
  height: 20px;
  -webkit-appearance: none;
  width: 20rem;
  border-radius: 25px;
}
input[type="range"]::-webkit-slider-runnable-track {
  background-color: rgb(48, 47, 47,1 );
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: purple;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: purple;
}
.borderHeader{
  font-size: 1.25rem;
  color:#d2dae2;
  margin-left: 2px;
}
.colorSettingsDiv{
  width:500px;
  height:600px;
  background-color:#1e272e;
}
.colorSetting{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}
.color-input-wrapper{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.colorLabel{
  width: fit-content;
}
input[type="color"]{
  height: 50px;
  width: 50px;
  background:none; 
  border: none;
  outline: none;
  padding: 0;
  top: -50%;
  left: -50%;
  position: absolute;
}
.hashInput{

}