.homeDiv {
  display: grid;
  grid-template-columns: 35% 32% auto;
  grid-auto-rows: 250px; /* roughly 70% and 30% but flexible */
  gap: 6px;
  margin-top: 10px;
}
.objectTransformsDiv {
  grid-column: 1/2;
  height: fit-content;
  background-color: #1e272e;
}
.objectDiv {
  grid-column: 2/3;
  grid-row: 1/3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.object {
  height: 100px;
  width: 200px;
  background-color: #1e272e;
}
.settingDiv{
  grid-row: 1/-4;
  grid-column:1/2 ;
}
.setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  gap: 2px;
  padding: 2px;
}
label {
  color: #d2dae2;
  z-index: 99;
  width: 30px;
}
.settingLabel {
  font-size: 12px;
  width: 60px;
  margin-left: 10px;
  color: #d2dae2;
  z-index: 99;
}
.rangeValue {
  outline: none;
  width: 50px;
  z-index: 99;
}
.settingSlider {
  z-index: 99;
  height: 20px;
  -webkit-appearance: none;
  width: 20rem;
  border-radius: 25px;
}
.settingSlider::-webkit-slider-runnable-track {
  background-color: rgb(48, 47, 47, 1);
}
.settingSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: purple;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: purple;
}
.borderHeader {
  font-size: 1.25rem;
  color: #d2dae2;
  margin-left: 2px;
}
.colorSettingsDiv {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1e272e;
  padding: 10px;
}
.colorSetting {
  width: 100%;
  display: flex;
  align-items: center;
}
.color-input-wrapper {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.colorLabel {
  width: 150px;
}
input[type="color"] {
  height: 50px;
  width: 50px;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  top: -50%;
  left: -50%;
  position: absolute;
}
.hashInput {
  width: 60px;
  margin-left: 20px;
  outline: none;
}
.keyframesDiv{
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: #1e272e;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}
.keyframeRange{
  width: 90%;
  height: 5px;
  background-color: red;
  position: absolute;
  margin: 0 auto;
}
.keyframeRangeInput{
  width: 100%;
  position: absolute;
  left: -0.3%;
}

.frameInput{
  position: absolute;
  top: 90%;
  left: 0;
  height: 20px;
  width: 50px;

}
.frameButton{
  height: 50px;
  width: 100px;
  position: absolute;
  top: 80%;
  left: 80%;
}